<li id ="gallery-list">
  <div ng-if="!galleryItemCtrl.showEditGallery">
    <div>
      <span>name: {{ galleryItemCtrl.gallery.name }}</span>
      <span>description: {{ galleryItemCtrl.gallery.desc }}</span>
      <span>id: {{ galleryItemCtrl.gallery._id }}</span>
    </div>
  </div>

  <edit-gallery ng-if="galleryItemCtrl.showEditGallery" gallery="galleryItemCtrl.gallery"></edit-gallery>
  <button ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery">Edit Gallery</button>
  <button ng-click="galleryItemCtrl.deleteGallery()">Delete</button>
</li>
